<%= scope(:popover_content, name: :body, label: "Body").render do %>
  <p>The static body or the body used when making HTTP POST polling requests. This is necessary when using a <em>static</em> extension but optional for a <em>poll</em> extension.</p>
<% end %>
