<%= scope(:popover_content, name: :headers, label: "Headers").render do %>
  <p>Allows you to configure the HTTP headers necessary for making HTTP requests. These are optional but definitely useful when you need to customize behavior.</p>
<% end %>
