<%= scope(:popover_content, name: :last_day_of_month, label: "Last Day Of Month").render do %>
  <p>Specifies whether the last day of the month should be honored when rendering screens.</p>
<% end %>
