<%= scope(:popover_content, name: :models, label: "Models").render do %>
  <p>The model(s) to render a screen for. This allows you to dynamically create/update a screen for each model you select. You can then add the generated screens to your <a href="/playlists">Playlists</a> as desired.</p>
<% end %>
