<%= scope(:popover_content, name: :response, label: "Response").render do %>
  <p>Use the response data, in conjunction with your template, to render your screen. The data is sourced from the URIs you provided above. This allows you to see all keys and values for use within your template.</p>

  <p>When supplying a single URI, the top-level key will be <code>data</code>. Otherwise, when using multiple URIs, you'll get numbered source keys. Example: <code>source_1</code>, <code>source_2</code>, and so forth. Each source key is numbered in the same order in which you supplied your URIs.</p>
<% end %>
