<%= scope(:popover_content, name: :schedule_start, label: "Schedule Start").render do %>
  <p>Use to set the specific month, day, hour, minute, and/or second offset you'd like to use when scheduling your extension. The year is ignored because <a href="https://en.wikipedia.org/wiki/Cron">cron</a> -- what this translates to internally -- doesn't use years but this allows you to specify the offsets as a single date/time value. Once set, your extension will be scheduled to repeat based off of this value.</p>
<% end %>
