<%= scope(:popover_content, name: :schedule_unit, label: "Schedule Unit").render do %>
  <p>Combined with the <em>interval</em>, this provides the unit of measure in which to repeat the rendering of screens.</p>
<% end %>
