<%= scope(:popover_content, name: :tags, label: "Tags").render do %>
  <p>Allows you to tag your extension using single or multiple tags. Each tag should be lowercase and use an underscore when needing to separate words. Examples: statistics, world_news, next_actions, film, comics, and so forth.</p>
<% end %>
