<%= scope(:popover_content, name: :template, label: "Template").render do %>
  <p>Use your <a href="https://shopify.github.io/liquid">Liquid</a> template to design the look and feel -- along with associated data -- for the screen that will dynamically be built for your device(s).</p>

  <p>Model information such as <code>name</code>, <code>bit_depth</code>, and <code>orientation</code> are provided for you which allows you to reuse this template across multiple models when rendering screens.</p>
<% end %>
