<button type="button" class="action-end" x-on:click="show = !show">
  <%= image_tag "icons/eye.svg", alt: "Show", width: 25, height: 25, "x-show" => "!show" %>

  <%= image_tag "icons/eye-disabled.svg",
                alt: "Hide",
                width: 25,
                height: 25,
                "x-show" => "show" %>
</button>
