<label class="bit-toggle-button">
  <input type="radio"
         name="<%= name %>"
         value="<%= value %>"
         class="bit-toggle-input"
         x-model="<%= model %>">

  <span class="bit-toggle-text"><%= label %></span>
</label>
