.bit-button, .bit-button-accept, .bit-button-decline {
  background: none;
  border: none;
  cursor: pointer;
  display: flex;
  gap: 0.5rem;
  padding: 0.3rem 1rem;

  &:disabled {
    background-color: var(--site-darkgrey);
    cursor: not-allowed;
  }
}

.bit-button-accept {
  background-color: var(--site-orange);
  border-radius: 1.5rem;
  color: var(--site-white);

  &:not(:disabled):hover {
    background-color: var(--site-darkorange);
    text-decoration: none;
  }

  .icon {
    filter: invert(1);
  }
}

.bit-button-decline {
  background-color: oklch(from var(--site-lightgrey) l c h / 0.2);
  border-radius: 1.5rem;
  color: var(--site-black);

  &:not(:disabled):hover {
    background-color: var(--site-lightgrey);
    text-decoration: none;
  }
}
