.bit-card {
  align-items: center;
  background-color: var(--site-white);
  border-radius: 0.5rem;
  box-shadow:
    0.7px 0.7px 0.7px rgba(0, 0, 0, 0.022),
    1.7px 1.7px 1.7px rgba(0, 0, 0, 0.031),
    3.5px 3.5px 3.5px rgba(0, 0, 0, 0.039),
    7.3px 7.3px 7.3px rgba(0, 0, 0, 0.048),
    20px 20px 20px rgba(0, 0, 0, 0.07)
  ;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1.5rem 1rem;

  .label {
    font-size: 1.5rem;
    font-weight: 600;
    margin: 0;
    text-align: center;
  }

  .name {
    color: var(--site-lightgrey);
    margin: 0;
  }

  .screen {
    color: var(--site-white);
    background-color: var(--site-black);
    border: 0.3rem solid var(--site-black);
  }

  .actions {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border: 0.1rem solid var(--site-lightgrey);
    border-radius: 0.5rem;
  }

  .action {
    padding: 0.5rem;

    &:hover {
      background-color: oklch(from var(--site-lightgrey) l c h / 0.3);
    }
  }
}
