.bit-form {
  --input-border-width: 0.15rem;

  align-items: center;
  display: flex;
  flex-direction: column;

  .legend {
    font-weight: 500;
    margin-bottom: 1rem;
    text-align: center;
  }

  .row {
    align-items: flex-start;
    border: none;
    display: grid;
    gap: 1rem;
    grid-template-columns: 1fr;
    justify-content: center;
    width: 100%;

    @media (min-width: 800px) {
      grid-template-columns: 1fr 1fr;
    }
  }

  .column {
    border: none;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
    padding: 0;
  }

  .input-group {
    display: flex;
  }

  .form-field {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 0;
    gap: 0.2rem;
  }

  .key {
    display: flex;
    flex-wrap: wrap;
    font-size: 0.95rem;
    font-weight: 500;
    padding: 0rem 0rem 0.1rem 0.3rem;
  }

  .value {
    background-color: oklch(from var(--site-lightgrey) l c h / 0.2);
    border-radius: 0.7rem;
    border: var(--input-border-width) solid oklch(from var(--site-lightgrey) l c h / 0.5);
    outline: none;
    padding: 0.4rem;
    width: 100%;

    &:focus {
      border: var(--input-border-width) solid oklch(from var(--site-orange) l c h / 0.5);
    }
  }

  .value-cap {
    border-radius: 0.5rem 0 0 0.5rem;
    border-right: none;
  }

  .help {
    color: var(--site-darkgrey);
    padding-left: 0.3rem;
    margin: 0;
  }

  .action, .action-end {
    background-color: var(--site-white);
    border: 0.1rem solid oklch(from var(--site-lightgrey) l c h / 0.5);
    cursor: pointer;
    outline: none;
    padding: 0 0.5rem;

    &:active, &:hover {
      background-color: oklch(from var(--site-lightgrey) l c h / 0.5);
    }

    &:focus {
      border: 0.1rem solid oklch(from var(--site-orange) l c h / 0.5);
    }
  }

  .action {
    display: flex;
    align-items: center;
    border-right-color: transparent;

    :where(img) {
      vertical-align: middle;
    }
  }

  .action-end {
    border-radius: 0 0.5rem 0.5rem 0;
  }

  .checkbox {
    accent-color: var(--site-orange);
    background-color: oklch(from var(--site-white) l c h / 0.5);
    border: 0.1rem solid oklch(from var(--site-lightgrey) l c h / 0.5);
    height: 1rem;
    width: 1rem;
  }

  .form-actions {
    align-items: center;
    display: flex;
    gap: 1rem;
    margin-top: 1rem;
  }

  .error {
    .value {
      border: var(--input-border-width) solid var(--site-red);
    }

    .message {
      color:  var(--site-red);
      font-size: 0.9rem;
      padding: 0.2rem 0 0.1rem 0.3rem;
      margin: 0;
    }
  }
}
