.bit-loader {
  animation: spin 1.5s linear infinite;
  border-radius: 50%;
  border: 0.25rem solid var(--site-lightgrey);
  border-top-color: var(--site-green);
  height: 1.25rem;
  width: 1.25rem;
  will-change: transform;
  transform: translateZ(0);
}
