.bit-pills {
  display: flex;
  gap: 0.5rem;
  flex-wrap: wrap;
}

.bit-pill {
  border-radius: 0.5rem;
  padding: 0.2rem 0.5rem;
  font-size: 0.8rem;
  font-weight: 600;
}

.bit-pill-active {
  color: var(--site-white);
  background-color: var(--site-green);
}

.bit-pill-caution {
  color: var(--site-black);
  background-color: var(--site-yellow);
}

.bit-pill-inactive {
  color: var(--site-white);
  background-color: var(--site-darkgrey);
}
