<%= scope(:popover_content, name: :friendly_id, label: "Friendly ID").render do %>
  <p>Provides a way to uniquely identify your device.</p>

  <p>💡 When proxying is enabled, you might want to keep this value identical to your <a href="https://usetrmnl.com/devices">device</a>'s Friendly ID  associated with the <a href="https://usetrmnl.com">Core</a> server in case you want to toggle between connecting your device with the <a href="https://usetrmnl.com">Core</a> server or this server. Otherwise, having a different ID won't hurt anything.</p>
<% end %>

