<fieldset class="column">
  <%= scope(:form_field, key: :label, errors:).render do %>
    <label class="key" for="playlist_label">Label</label>

    <%= tag.input id: :playlist_label,
                  name: "playlist[label]",
                  value: field_for(:label, fields, playlist),
                  class: :value,
                  autocomplete: :label %>
  <% end %>

  <%= scope(:form_field, key: :name, errors:).render do %>
    <label class="key" for="playlist_name">Name</label>

    <%= tag.input id: :playlist_name,
                  name: "playlist[name]",
                  value: field_for(:name, fields, playlist),
                  class: :value,
                  autocomplete: :name %>
  <% end %>
</fieldset>
