<%= scope(:popover_content, name: :scale_factor, label: "Scale Factor").render do %>
  <p>The scale factor for rendering screens. Especially useful in <a href="https://shopify.github.io/liquid">Liquid</a> templates when building <%= link_to "Extensions", routes.path(:extensions) %>.</p>
<% end %>
