<div class="item">
  <%= render "shared/screen", uri: item.screen.image_uri %>

  <div class="actions">
    <%= render "shared/actions/edit",
               path: routes.path(:playlist_item_edit, playlist_id: item.playlist_id, id: item.id),
               target: "closest .item" %>

    <%= render "shared/actions/delete",
               path: routes.path(:playlist_item_delete, playlist_id: item.playlist_id, id: item.id),
               confirm: "Are you sure you want to delete this item?",
               target: "closest .item" %>
  </div>
</div>
