.page-devices {
  .device {
    .measurements {
      align-items: center;
      display: flex;
      flex-wrap: wrap;
      gap: 1rem;
      justify-content: space-evenly;
    }

    .measurement {
      align-items: center;
      display: flex;
      flex-direction: column;
      font-size: 0.8rem;
      justify-content: center;
    }

    .battery, .signal {
      width: 6rem;
      height: 1.5rem;
    }
  }

  .log {
    &.htmx-swapping {
      opacity: 0;
      transition: opacity 0.5s ease-out;
    }
  }
}
