.page-playlists {
  .playlist {
    .description {
      margin: 0 1rem;
    }
  }

  .items {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 1rem;

    .label {
      align-self: center;
      font-size: 1rem;
      font-weight: 500;
      margin: 1rem 0;
    }
  }

  .show_items {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-bottom: 2rem;
  }

  .show_item {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 1rem;

    .labels {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 0.5rem;
    }
  }
}
